
@{
    ViewBag.Title = "CreateEvent";
    Layout = "~/Views/Shared/_InlaksAdminLayout.cshtml";
}

@Html.Partial("_HeaderPartial")
<!-- //header-ends -->
<div id="page-wrapper">
    <h2 class="title1">Create Event</h2>
    <form action="" method="post">
        <input name="__RequestVerificationToken" type="hidden" value="riUE9eqx4xreAZMGreQt-rjbtfbQ3OfDC-5iaembcHR-Tnq-57YVH-LoX2feT2tReAPriMVNlfc9SRxnK_mIF6ABQ4uVAAB0v1vSUO27c3M1" />    <div class="form-horizontal">

            <hr />

            <input name="ResponseCode" type="hidden" value="" id="hiddenField" />

            <div class="form-group">
                <label class="control-label col-md-2" for="FirstName">Event Title</label>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" data-val="true" data-val-required="First Name is required!" id="FirstName" name="EventTitle" type="text" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="FirstName" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="LastName">Event Location</label>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" data-val="true" data-val-required="Last Name is required!" id="LastName" name="EventLocation" type="text" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="LastName" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="Email">Event Date</label>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" data-val="true" data-val-email="" data-val-required="This field is required!" id="Email" name="EventDate" type="date" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="event">Event Time</label>
                <div class="col-md-4">
                    <input class="form-control text-box single-line password" data-val="true" data-val-equalto="Amount is required!" data-val-equalto-other="" id="ConfirmPassword" name="EventTime" type="text" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="Description">Description</label>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" data-val="true" data-val-required="This field is required!" id="LastName" name="Description" type="text" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Description" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Register" class="btn btn-success" style="margin-bottom: 10px;" />
                </div>
            </div>


        </div>
    </form>
</div>



