
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_InlaksAdminLayout.cshtml";
}


<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
    <!--left-fixed -navigation-->
    <aside class="sidebar-left">
        <nav class="navbar navbar-inverse">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1><a class="navbar-brand" href="#"><span class="fa fa-area-chart"></span> Admin<span class="dashboard_text">dashboard</span></a></h1>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="sidebar-menu">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-laptop"></i>
                            <span>Admin</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="createadmin"><i class="fa fa-angle-right"></i> Create</a></li>
                            <li><a href="updateadmin"><i class="fa fa-angle-right"></i> Update Admin</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-photo"></i> <span>Gallery</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="uploadphoto"><i class="fa fa-angle-right"></i> upload Event Photos</a></li>
                            <li><a href="viewgallery"><i class="fa fa-angle-right"></i> View Gallery</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-laptop"></i>
                            <span>Alumni</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="createalumni"><i class="fa fa-angle-right"></i> Create Alumni</a></li>
                            <li><a href="updatealumni"><i class="fa fa-angle-right"></i> Update Alumni</a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-money"></i> <span>Donations</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="createdonation"><i class="fa fa-angle-right"></i> Create Donations</a></li>
                            <li><a href="updatedonation"><i class="fa fa-angle-right"></i> Update Donations</a></li>
                            <li><a href="viewcollections"><i class="fa fa-angle-right"></i> View Collections</a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-envelope"></i> <span>Mailbox</span>
                            <i class="fa fa-angle-left pull-right"></i><small class="label pull-right label-info1"></small>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="inbox"><i class="fa fa-angle-right"></i> Mail Inbox</a></li>

                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-folder"></i> <span>Events</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="createevent"><i class="fa fa-angle-right"></i> Create Event</a></li>
                            <li><a href="manageevent"><i class="fa fa-angle-right"></i> Manage Event</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
    </aside>
</div>
<!--left-fixed -navigation-->
<!---728x90--->
<!-- header-starts -->
<div class="sticky-header header-section ">
    <div class="header-left">

        <!--toggle button start-->
        <button id="showLeftPush"><i class="fa fa-bars"></i></button>
        <!--toggle button end-->
        <div class="profile_details_left">
            <!--notifications of menu start -->
            <ul class="nofitications-dropdown"></ul>
            <div class="clearfix"> </div>
        </div>
        <!--notification menu end -->
        <div class="clearfix"> </div>
    </div>
    <div class="header-right">




        <div class="profile_details">
            <ul>
                <li class="dropdown profile_details_drop">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <div class="profile_img">
                            <!--<span class="prfil-img"><img src="images/2.jpg" alt=""> </span>-->
                            <div class="user-name">
                                <p>Admin Name</p>
                                <span>Administrator</span>
                            </div>
                            <i class="fa fa-angle-down lnr"></i>
                            <i class="fa fa-angle-up lnr"></i>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                    <ul class="dropdown-menu drp-mnu">
                        <li> <a href="#"><i class="fa fa-user"></i> Manage Account</a> </li>
                        <li> <a href="login"><i class="fa fa-sign-out"></i> Logout</a> </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="clearfix"> </div>
</div>

<div id="page-wrapper">
    <h2 class="title1">Register Alumni</h2>



    <form action="" method="post">
        <input name="__RequestVerificationToken" type="hidden" value="ITJv6jIZOTvBH6jQOH5Lh0Poixv6-KlPkODNXXf0iY2FHkkwEPB2OL-b6WlZvFEtNyy5WrgggjD4_IpfJdgeSDfxy1ZqF7VUF9Lk5Ky7_eI1" />    <div class="form-horizontal">

            <hr />

            <div class="form-group">
                <label class="control-label col-md-2" for="FirstName">FirstName</label>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" data-val="true" data-val-required="First Name is required!" id="FirstName" name="FirstName" type="text" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="FirstName" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="LastName">LastName</label>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" data-val="true" data-val-required="Last Name is required!" id="LastName" name="LastName" type="text" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="LastName" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="Email">Email</label>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" data-val="true" data-val-email="Invalid Email" data-val-required="Email is required!" id="Email" name="Email" type="email" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="PastEmployeeId">PastEmployeeId</label>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" id="PastEmployeeId" name="PastEmployeeId" type="text" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="PastEmployeeId" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="PhoneNumber">Phone Number</label>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" data-val="true" data-val-phone="The Phone Number field is not a valid phone number." data-val-regex="Entered phone format is not valid." data-val-regex-pattern="^\(?([0-9]{4})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$" data-val-required="Phone Number Required!" id="PhoneNumber" name="PhoneNumber" type="tel" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="PhoneNumber" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="DateOfEmployment">Release Date</label>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" id="DateOfEmployment" name="DateOfEmployment" type="date" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="DateOfEmployment" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="PositionHeld">PositionHeld</label>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" data-val="true" data-val-required="This field is required!" id="PositionHeld" name="PositionHeld" type="text" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="PositionHeld" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="DateLeft">Release Date</label>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" id="DateLeft" name="DateLeft" type="date" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="DateLeft" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="Username">Username</label>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" data-val="true" data-val-required="Username is required!" id="Username" name="Username" type="text" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Username" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="Password">Password</label>
                <div class="col-md-4">
                    <input class="form-control text-box single-line password" data-val="true" data-val-regex="The field Password must match the regular expression &#39;^((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{8,64})$&#39;." data-val-regex-pattern="^((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{8,64})$" data-val-required="Password is required!" id="Password" name="Password" type="password" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="ConfirmPassword">ConfirmPassword</label>
                <div class="col-md-4">
                    <input class="form-control text-box single-line password" data-val="true" data-val-equalto="Please confirm your password" data-val-equalto-other="*.Password" id="ConfirmPassword" name="ConfirmPassword" type="password" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="ConfirmPassword" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="Gender">Gender</label>
                <div class="col-md-4">
                    <select class="form-control text-box single-line" data-val="true" data-val-required="This field is required!" id="Gender" name="Gender" type="text" value="">
                        <option selected="selected" value="male">male</option>
                        <option value="female">female</option>
                    </select>
                    <span class="field-validation-valid text-danger" data-valmsg-for="Gender" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="Status">Status</label>
                <div class="col-md-4">
                    <select class="form-control text-box single-line" id="Status" name="Status" type="text" value="">
                        <option selected="selected" value="PENDING">PENDING</option>
                        <option value="APPROVED">APPROVED</option>
                        <option value="DECLINED">DECLINED</option>
                    </select>
                    <span class="field-validation-valid text-danger" data-valmsg-for="Status" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Update" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>

</div>

