
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_InlaksAdminLayout.cshtml";
}

<!-- header-starts -->
<div class="sticky-header header-section " style="background-color: #4b7884;">
    <div class="header">


        <h2 style="padding-top: 1em; padding-bottom: 1em; margin-left:23em;">ADMIN PORTAL</h2>
    </div>
    <div class="header-right">



        <div class="clearfix"> </div>
    </div>
    <div class="clearfix"> </div>
</div>


<!-- main content start-->
<div id="" style="margin-bottom: 3em; margin-top: 5em;">
    <div class="main-page login-page ">
        <h2 class="title1">Login</h2>
        <div class="widget-shadow">
            <div class="login-body">
                <form action="" method="post">
                    @if (ViewBag.Message != null)
                    {
                        <p style="color:#ff1a1a">@ViewBag.Message</p>
                    }
                    <input type="email" class="user" name="Email" placeholder="Enter Your Email" required="">
                    <input type="password" name="Password" class="lock" placeholder="Password" required="">
                    <div class="forgot-grid">
                        <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Remember me</label>
                        <div class="forgot">
                            <a href="#">forgot password?</a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <input type="submit" name="Login" value="Login">
                    <!--<div class="registration">
                        Don't have an account ?
                        <a class="" href="signup.html">
                            Create an account
                        </a>
                    </div>-->
                </form>
            </div>
        </div>

    </div>
</div>
