
@{
    ViewBag.Title = "ManageAccount";
    Layout = "~/Views/Shared/_InlaksAdminLayout.cshtml";
}

@Html.Partial("_HeaderPartial")

<div id="page-wrapper">
    <h2 class="title1"> Change your password</h2>

    <form action="" method="post">
        <input name="__RequestVerificationToken" type="hidden" value="ITJv6jIZOTvBH6jQOH5Lh0Poixv6-KlPkODNXXf0iY2FHkkwEPB2OL-b6WlZvFEtNyy5WrgggjD4_IpfJdgeSDfxy1ZqF7VUF9Lk5Ky7_eI1" />    <div class="form-horizontal">

            <hr />

            <div class="form-group">
                <label class="control-label col-md-2" for="Username">Username</label>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" data-val="true" data-val-required="Username is required!" id="Username" name="Username" type="text" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Username" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="Password"> New Password</label>
                <div class="col-md-4">
                    <input class="form-control text-box single-line password" data-val="true" data-val-regex="The field Password must match the regular expression &#39;^((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{8,64})$&#39;." data-val-regex-pattern="^((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{8,64})$" data-val-required="Password is required!" id="Password" name="Password" type="password" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="ConfirmPassword">ConfirmPassword</label>
                <div class="col-md-4">
                    <input class="form-control text-box single-line password" data-val="true" data-val-equalto="Please confirm your password" data-val-equalto-other="*.Password" id="ConfirmPassword" name="ConfirmPassword" type="password" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="ConfirmPassword" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Update" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
</div>

