
@{
    ViewBag.Title = "UploadPhoto";
    Layout = "~/Views/Shared/_InlaksAdminLayout.cshtml";
}

@Html.Partial("_HeaderPartial")


<!-- //header-ends -->
<!-- main content start-->
<div id="page-wrapper">
    <h2 class="title1">Upload Event Photo</h2>

    <!--<form action="" method="post">

          <div class="form-group">
                  <label for="img">Select image:</label>
                  <input type="file" id="UploadImage" name="UploadImage" accept="image/*"><br>
                  <input type="submit" class="btn btn-warning">
          </div>
    </form>-->


    <form action="" method="post" enctype="multipart/form-data">
        <input name="__RequestVerificationToken" type="hidden" value="riUE9eqx4xreAZMGreQt-rjbtfbQ3OfDC-5iaembcHR-Tnq-57YVH-LoX2feT2tReAPriMVNlfc9SRxnK_mIF6ABQ4uVAAB0v1vSUO27c3M1" />    <div class="form-horizontal">

            <hr />

            <div class="form-group">
                <label class="control-label col-md-2" for="FirstName">Event Title:</label>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" data-val="true" data-val-required="First Name is required!" id="FirstName" name="Name" type="text" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="FirstName" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="EventId">Event Id:</label>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" data-val="true" data-val-required="First Name is required!" id="FirstName" name="EventId" type="number" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="FirstName" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="img">Select image:</label>
                <div class="col-md-4">
                    <input type="file" id="UploadImage" name="UploadImage" accept="image/*"><br>
                </div>
                <!--<input type="submit" class="btn btn-warning">-->
            </div>



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="UploadPhoto" class="btn btn-warning" style="margin-bottom: 10px;" />
                </div>
            </div>


        </div>
    </form>

</div>


