<div class="header-nav">
    <!-- header-three -->
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                Menu
            </button>
        </div>
        <!-- top-nav -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/Home/index" class="active">Home</a></li>
                <li><a href="/about" class="scroll">About</a></li>
                <li><a href="/event" class="scroll">Event</a></li>
                <li><a href="/gallery" class="scroll">Gallery</a></li>
                <!--<li><a href="icons.html" data-toggle="dropdown">Donations<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="payment.html">Payment Options</a></li>
                        <li><a href="upload.html">Upload Payment Evidence</a></li>
                    </ul>
                </li>-->
                <li><a href="/contact" class="scroll">Contact Us</a></li>
                <!--<li><a href="#" data-toggle="dropdown">Manage Account<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="profile.html">Alumni Profile</a></li>
                        <li><a href="update.html">Update Account</a></li>
                    </ul>
                </li>-->
            </ul>
            <div class="clearfix"> </div>
        </div>
    </nav>
</div>
