
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_InlaksAlumniLayout.cshtml";
}

<div class="banner inner-banner">
    <div class="header-nav">
        <!-- header-three -->
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu
                </button>
            </div>
            <!-- top-nav -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="index">Home</a></li>
                    <li><a href="about" class="active">About</a></li>
                    <li><a href="event">Event</a></li>
                    <li><a href="gallery">Gallery</a></li>
                    <!--<li><a href="icons.html" data-toggle="dropdown">Donations<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="payment.html">Payment Options</a></li>
                            <li><a href="upload.html">Upload Payment Evidence</a></li>
                        </ul>
                    </li>-->
                    <li><a href="contact">Contact Us</a></li>
                    <!--<li><a href="#" data-toggle="dropdown">Manage Account<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="profile.html">Alumni Profile</a></li>
                            <li><a href="update.html">Update Account</a></li>
                        </ul>
                    </li>-->
                </ul>
                <div class="clearfix"> </div>
            </div>
        </nav>
    </div>

    <!-- banner-text -->
    <!-- banner -->
    <div class="carousel-caption" style="background-color: rgba(0,0,0,0.3); border-radius: 50px; font-size: 20px;">
        <h4 style="font-size: 50px;">About Us</h4>
        <p>Home > About</p>
    </div>
</div>




<!-- about -->
<div class="w3ls-section" id="inner-about">
    <div class="container">
        <h3 class="h3-w3l"></h3>
        <!-- about bottom-->
        <div class="about-bottom">
            <div class="col-md-6 about-w3right">

            </div>


            <div class="col-md-6 about-w3left">

                <h3 style="color:#1b4188">Own Tomorrow.</h3>
                <h2 style="font-size:50px; line-height:69px;">Who We Are</h2>
                <div>
                    <p style="font-size:24px; font-weight: 300; line-height:36px; text-align:justify">We are committed to driving technological evolution with positive impact on businesses and the economy.</p>
                    <p style="text-align:justify;">Established in 1982, Inlaks is an Information Technology Systems Integrator specialized in the deployment of dynamic and highly scalable ICT Infrastructure Solutions. Our customers cut across various segments including Banking, Telecommunication, Oil/Gas, Power, Utilities and the Distribution sectors of the economy. Inlaks also deploys Commercial/Resource Planning Software and Services to many multinational companies.</p>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //about-bottom -->
</div>


<!-- team -->
<div id="team" class="w3ls-section team agileits">
    <div class="team-agileinfo">
        <div class="container">
            <h3 class="h3-w3l">Board of Directors</h3>
            <div class="team-row agileits-w3layouts">
                <div class="col-md-3 col-xs-6 team-grids">
                    <div class="team-agileimg">
                        <img class="img-responsive" src="~/Content/images/Femi-Adeoti.jpg" alt="">
                        <div class="captn">
                            <div class="captn-top">
                                <h4>Femi Adeoti</h4>
                                <p>Managing Director</p>
                            </div>
                            <div class="social-w3lsicon agileinfo-social-grids">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6 team-grids">
                    <div class="team-agileimg">
                        <img class="img-responsive" src="~/Content/images/Olufemi-Muraino.jpg" alt="">
                        <div class="captn">
                            <div class="captn-top">
                                <h4>Olufemi Muraino</h4>
                                <p>Executive Director</p>
                            </div>
                            <div class="social-w3lsicon agileinfo-social-grids">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6 team-grids">
                    <div class="team-agileimg">
                        <img class="img-responsive" src="~/Content/images/Tope-Dare.jpg" alt="">
                        <div class="captn">
                            <div class="captn-top">
                                <h4>Tope Dare</h4>
                                <p>Executive Director</p>
                            </div>
                            <div class="social-w3lsicon agileinfo-social-grids">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6 team-grids">
                    <div class="team-agileimg">
                        <img class="img-responsive" src="~/Content/images/Chief-Henry-O.-Okolo.jpg" alt="">
                        <div class="captn">
                            <div class="captn-top">
                                <h4>Chief-Henry-O.-Okolo</h4>
                                <p>Non Executive Director</p>
                            </div>
                            <div class="social-w3lsicon agileinfo-social-grids">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>

