
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_InlaksAlumniLayout.cshtml";
}

<div class="banner inner-banner">
    <div class="header-nav">
        <!-- header-three -->
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu
                </button>
            </div>
            <!-- top-nav -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="Home/index">Home</a></li>
                    <li><a href="about" class="active">About</a></li>
                    <li><a href="event">Event</a></li>
                    <li><a href="gallery">Gallery</a></li>
                    <!--<li><a href="icons.html" data-toggle="dropdown">Donations<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="payment.html">Payment Options</a></li>
                            <li><a href="upload.html">Upload Payment Evidence</a></li>
                        </ul>
                    </li>-->
                    <li><a href="contact">Contact Us</a></li>
                    <!--<li><a href="#" data-toggle="dropdown">Manage Account<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="profile.html">Alumni Profile</a></li>
                            <li><a href="update.html">Update Account</a></li>
                        </ul>
                    </li>-->
                </ul>
                <div class="clearfix"> </div>
            </div>
        </nav>
    </div>
    <!-- banner-text -->
    <!-- banner -->
</div>




<!-- about -->
<div class=" w3ls-section" id="inner-about">
    <div class="container">
        <h3 class="h3-w3l">about us</h3>
        <!-- about bottom-->
        <div class="about-bottom">
            <div class="col-md-6 about-w3right">

            </div>
            <div class="col-md-6 about-w3left">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h5 class="panel-title asd">
                                <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>assumenda est cliche
                                </a>
                            </h5>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body panel_text">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h5 class="panel-title asd">
                                <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Itaque earum rerum
                                </a>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body panel_text">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h5 class="panel-title asd">
                                <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Sed tincidunt lorem sed
                                </a>
                            </h5>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body panel_text">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h5 class="panel-title asd">
                                <a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>excepturi sint cliche
                                </a>
                            </h5>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour" aria-expanded="true">
                            <div class="panel-body panel_text">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //about-bottom -->
</div>


<!-- team -->
<div id="team" class="w3ls-section team agileits">
    <div class="team-agileinfo">
        <div class="container">
            <h3 class="h3-w3l">Alumni</h3>
            <div class="team-row agileits-w3layouts">
                <div class="col-md-3 col-xs-6 team-grids">
                    <div class="team-agileimg">
                        <img class="img-responsive" src="~/Content/images/t1.jpg" alt="">
                        <div class="captn">
                            <div class="captn-top">
                                <h4>Nathan</h4>
                                <p>Managing Director</p>
                            </div>
                            <div class="social-w3lsicon agileinfo-social-grids">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6 team-grids">
                    <div class="team-agileimg">
                        <img class="img-responsive" src="~/Content/images/t2.jpg" alt="">
                        <div class="captn">
                            <div class="captn-top">
                                <h4>Hoover</h4>
                                <p>Human Resources</p>
                            </div>
                            <div class="social-w3lsicon agileinfo-social-grids">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6 team-grids">
                    <div class="team-agileimg">
                        <img class="img-responsive" src="~/Content/images/t3.jpg" alt="">
                        <div class="captn">
                            <div class="captn-top">
                                <h4>James</h4>
                                <p>Chief Risk Officer</p>
                            </div>
                            <div class="social-w3lsicon agileinfo-social-grids">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6 team-grids">
                    <div class="team-agileimg">
                        <img class="img-responsive" src="~/Content/images/t4.jpg" alt="">
                        <div class="captn">
                            <div class="captn-top">
                                <h4>Sturgill</h4>
                                <p>Chief Financial Officer</p>
                            </div>
                            <div class="social-w3lsicon agileinfo-social-grids">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>

