
@{
    ViewBag.Title = "AlumniProfile";
    Layout = "~/Views/Shared/_InlaksAlumniLayout.cshtml";
}

<div class="banner inner-banner">
    <div class="header-nav">
        <!-- header-three -->
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu
                </button>
            </div>
            <!-- top-nav -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="index">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="event">Event</a></li>
                    <li><a href="gallery">Gallery</a></li>
                    <li>
                        <a href="#" data-toggle="dropdown">Donations<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="payment">Payment Options</a></li>
                            <li><a href="uploadevidence">Upload Payment Evidence</a></li>
                        </ul>
                    </li>
                    <li><a href="contact">Contact Us</a></li>
                    <li>
                        <a href="#" data-toggle="dropdown">Manage Account<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="alumniprofile">Alumni Profile</a></li>
                            <li><a href="updateaccount">Update Account</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="clearfix"> </div>
            </div>
        </nav>
    </div>
</div>

<div class="w3ls-section">
    <div class="container">
        <h2 class="h3-w3l">Alumni Profile</h2>
        <div class="grid_3 grid_4 w3layouts">



        </div>
    </div>
</div>

