
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_InlaksAlumniLayout.cshtml";
}

<div class="banner inner-banner">
    <div class="header-nav">
        <!-- header-three -->
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu
                </button>
            </div>
            <!-- top-nav -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="index">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="event">Event</a></li>
                    <li><a href="gallery">Gallery</a></li>
                    <!--<li><a href="icons.html" data-toggle="dropdown">Donations<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="payment.html">Payment Options</a></li>
                            <li><a href="upload.html">Upload Payment Evidence</a></li>
                        </ul>
                    </li>-->
                    <li><a href="contact" class="active">Contact Us</a></li>
                    <!--<li><a href="#" data-toggle="dropdown">Manage Account<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="profile.html">Alumni Profile</a></li>
                            <li><a href="update.html">Update Account</a></li>
                        </ul>
                    </li>-->
                </ul>
                <div class="clearfix"> </div>
            </div>
        </nav>
    </div>
    <!-- banner-text -->
    <!-- banner -->
</div>


   <!-- contact -->
<div class="w3ls-section contact">
    <div class="container">
        <div class="w3ls-title">
            <h2 class="h3-w3l">contact us</h2>
        </div>
        <div class="w3ls_map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d538401.0363584859!2d2.8618069658493823!3d6.703473782913479!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103bf5297ac1c87f%3A0x77e59e935fd37c8e!2sInlaks%20Limited!5e0!3m2!1sen!2sng!4v1597974655226!5m2!1sen!2sng" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div class="contact_wthreerow agileits-w3layouts">
            <div class="col-md-5 agileits_w3layouts_contact_gridl">
                <div class="agileits_mail_grid_right_grid">
                    <h4>About Us</h4>
                    <p>
                        Itaque earum rerum hic tenetur a sapiente delectus,
                        ut aut reiciendis voluptatibus maiores alias consequatur.
                    </p>
                </div>
                <div class="agileits_mail_grid_right_grid">
                    <h4>Contact Info</h4>
                    <ul class="contact_info">
                        <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>1611 Adeola Hopewell Street, Victoria Island Lagos, Nigeria</li>
                        <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">info@inlaks.com</a></li>
                        <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+234-01-2801060-1, 2801070</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-7 w3l_contact_form">
                <h4>Contact Form</h4>
                <form action="#" method="post">
                    <input type="text" name="Name" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
                    <input type="email" name="Email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                    <input type="text" name="Phone" value="Phone" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone';}" required="">
                    <textarea name="Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required="">Message...</textarea>
                    <input type="submit" value="Submit">
                </form>
            </div>

            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //contact -->

