
@{
    ViewBag.Title = "Event";
    Layout = "~/Views/Shared/_InlaksAlumniLayout.cshtml";
}

<div class="banner inner-banner">
    <div class="header-nav">
        <!-- header-three -->
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu
                </button>
            </div>
            <!-- top-nav -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="index">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="event" class="active">Event</a></li>
                    <li><a href="gallery">Gallery</a></li>
                    <!--<li><a href="icons.html" data-toggle="dropdown">Donations<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="payment.html">Payment Options</a></li>
                            <li><a href="upload.html">Upload Payment Evidence</a></li>
                        </ul>
                    </li>-->
                    <li><a href="contact">Contact Us</a></li>
                    <!--<li><a href="#" data-toggle="dropdown">Manage Account<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="profile.html">Alumni Profile</a></li>
                            <li><a href="update.html">Update Account</a></li>
                        </ul>
                    </li>-->
                </ul>
                <div class="clearfix"> </div>
            </div>
        </nav>
    </div>
    <!-- banner-text -->
    <!-- banner -->
</div>


<div class="agileits_w3layouts-services-mid">
    <div class="col-md-5 services-mid-img">
    </div>
    <div class="col-md-5 services-mid-text">
    </div>
    <div class="clearfix"> </div>
</div>
<div class="w3ls-section">
    <div class="container">
        <div class="services-w3ls-row agileits-w3layouts">
            <div class="col-md-3 col-sm-3 col-xs-6 services-grid agileits-w3layouts">
                <i class="fa fa-user-secret" aria-hidden="true"></i>
                <h5>Secure Online Banking</h5>
                <p>Sapiente delectus maiores itaque earum rerum hic tenetur a alias phasellus.</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 services-grid agileits-w3layouts">
                <i class="fa fa-comments" aria-hidden="true"></i>
                <h5>24/7 Personal Support</h5>
                <p>Tenetur a sapiente itaque earum rerum hic delectus maiores alias phasellus.</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 services-grid agileits-w3layouts">
                <i class="fa fa-gift" aria-hidden="true"></i>
                <h5>Gift vouchers</h5>
                <p>Itaque earum rerum hic tenetur a sapiente delectus maiores alias phasellus.</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 services-grid agileits-w3layouts">
                <i class="fa fa-list-alt" aria-hidden="true"></i>
                <h5>insta banking</h5>
                <p>Earum rerum hic tenetur a alias sapiente delectus maiores itaque phasellus.</p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

