@model IEnumerable<InlaksAlumniWebsite.Models.EventImage>
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_InlaksAlumniLayout.cshtml";
}

<div class="banner inner-banner">
    <div class="header-nav">
        <!-- header-three -->
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu
                </button>
            </div>
            <!-- top-nav -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="index">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="event">Event</a></li>
                    <li><a href="gallery" class="active">Gallery</a></li>
                    <li><a href="contact">Contact Us</a></li>
                </ul>
                <div class="clearfix"> </div>
            </div>
        </nav>
    </div>
    <div class="carousel-caption" style="background-color: rgba(0,0,0,0.3); border-radius: 50px; font-size: 20px;">
        <h4 style="font-size: 50px;">Gallery</h4>
        <p>Home > Gallery</p>
    </div>
</div>
<!-- banner -->
<!-- gallery -->

<div class="w3ls-section gallery">
    <div class="container">
        <div class="row">


        <div class="w3ls-title">
            <h2 class="h3-w3l"></h2>
        </div>
        <div class="gallery-grids-top">
            <div class="gallery-grids agileits-w3layouts">
@foreach (var item in Model)
{
                <div class="col-md-4 col-sm-4 col-xs-6 gallery-grid-img">
                    <a class="example-image-link w3-agilepic" href="~/Content/photos/@item.ImagesUrl" data-lightbox="example-set" data-title="">
                        <img class="example-image img-responsive" src="~/Content/photos/@item.ImagesUrl" alt="" />
                        <div class="w3ls-overlay">
                            <h4>Our Gallery</h4>
                        </div>
                    </a>
                </div>
}
                <div class="clearfix"> </div>
                <script src="~/Content/js/lightbox-plus-jquery.min.js"></script>
            </div>
        </div>

        </div>
    </div>
</div>

<!-- //gallery -->