
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InlaksAlumniLayout.cshtml";
}


<!-- banner -->
<div class="banner">
    <div class="header-nav">
        <!-- header-three -->
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu
                </button>
            </div>
            <!-- top-nav -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="Home/index" class="active">Home</a></li>
                    <li><a href="about" class="scroll">About</a></li>
                    <li><a href="event" class="scroll">Event</a></li>
                    <li><a href="gallery" class="scroll">Gallery</a></li>
                    <!--<li><a href="icons.html" data-toggle="dropdown">Donations<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="payment.html">Payment Options</a></li>
                            <li><a href="upload.html">Upload Payment Evidence</a></li>
                        </ul>
                    </li>-->
                    <li><a href="contact" class="scroll">Contact Us</a></li>
                    <!--<li><a href="#" data-toggle="dropdown">Manage Account<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="profile.html">Alumni Profile</a></li>
                            <li><a href="update.html">Update Account</a></li>
                        </ul>
                    </li>-->
                </ul>
                <div class="clearfix"> </div>
            </div>
        </nav>
    </div>
    <!-- banner-text -->
    <!-- banner -->
    <div class="container">
        <div class="banner-text agileits-w3layouts">
            <div id="top" class="callbacks_container">
                <ul class="rslides" id="slider3">
                    <li>
                        <div class="banner-textagileinfo">
                            <h6>Welcome To Inlaks</h6>
                            <h3>History</h3>
                            <p>Establish in 1982 as a division of Inlaks Plc, is a private limited liability company.</p>
                            <div class="agileits-banner-bot">
                                <div class="col-md-4 col-sm-4 col-xs-4 w3l-bb-grid1">
                                    <h5>01</h5>
                                    <h4>Vision</h4>
                                    <p>To be the foremost ICT and infrastructure Service Provider in the Sub-Saharan African Region.</p>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 w3l-bb-grid1">
                                    <h5>02</h5>
                                    <h4>Mission</h4>

                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 w3l-bb-grid1">
                                    <h5>03</h5>
                                    <h4>Reputation</h4>

                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="banner-textagileinfo">
                            <h6>Welcome To Inlaks</h6>
                            <h3>History</h3>
                            <p>Establish in 1982 as a division of Inlaks Plc, is a private limited liability company.</p>
                            <div class="agileits-banner-bot">
                                <div class="col-md-4 col-sm-4 col-xs-4 w3l-bb-grid1">
                                    <h5>01</h5>
                                    <h4>Vision</h4>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 w3l-bb-grid1">
                                    <h5>02</h5>
                                    <h4>Mission</h4>
                                    <p>We offer differentiated Information Technology – Enabled Solutions to Maximize our Customers’ Value. </p>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 w3l-bb-grid1">
                                    <h5>03</h5>
                                    <h4>Reputation</h4>

                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="banner-textagileinfo">
                            <h6>Welcome To Inlaks</h6>
                            <h3>History</h3>
                            <p>Establish in 1982 as a division of Inlaks Plc, is a private limited liability company.</p>
                            <div class="agileits-banner-bot">
                                <div class="col-md-4 col-sm-4 col-xs-4 w3l-bb-grid1">
                                    <h5>01</h5>
                                    <h4>Vision</h4>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 w3l-bb-grid1">
                                    <h5>02</h5>
                                    <h4>Mission</h4>

                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 w3l-bb-grid1">
                                    <h5>03</h5>
                                    <h4>Reputation</h4>
                                    <p>The foremost Information Technology and Infrastructure solutions provider in West Africa.</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>





<!-- about -->
<div class="home-about w3ls-section">
    <div class="container">
        <!-- about top-->
        <div class="w3ls-about agile-section">
            <div class="w3-agileits-about-grids">
                <div class="col-md-6 col-sm-6 col-xs-6 agileits-title">
                    <h3>what makes<br> <img src="~/Content/images/inlaks_logo3.png" style="width:40px;height:38px;" alt="logo" />Inlaks Unique?</h3>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6  agile-about-bottom-right">
                    <p style="font-size:large;">
                        With over 36 years of industry experience, we have grown consistently to achieve the leadership position we hold today as the foremost ICT and Infrastructure solutions provider across Africa with offices in Ghana Nigeria and Kenya.
                    </p>


                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <!-- //about top-->
        <!-- about bottom-->
        <div class="about-bottom">
            <div class="col-md-6 about-w3right">

            </div>
            <div>
                <p style="font-size:16.5px;">With an impressive customer base of six central banks in West Africa and over 18 commercial and microfinance banks and other major customers in the region, we have become the dominant information technology company in the region.</p>
                <p class="w3ls-about-text" style="font-size:16.5px">
                    By focusing our efforts on specific industries in this region, we have built our expertise and reputation, becoming the number one supplier of information technology solutions and also a one-stop solutions hub to our customers. As our customers’ requirements continue to evolve, we also constantly upgrade and develop new solutions based on a thorough knowledge of our industries, economies and clients’ businesses.
                </p>
            </div>
            <!--<div class="col-md-6 about-w3left">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h5 class="panel-title asd">
                                <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>assumenda est cliche
                                </a>
                            </h5>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body panel_text">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h5 class="panel-title asd">
                                <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Itaque earum rerum
                                </a>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body panel_text">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h5 class="panel-title asd">
                                <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Sed tincidunt lorem sed
                                </a>
                            </h5>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body panel_text">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h5 class="panel-title asd">
                                <a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>excepturi sint cliche
                                </a>
                            </h5>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour" aria-expanded="true">
                            <div class="panel-body panel_text">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //about-bottom -->
    <!---728x90--->
    <!-- about-bottom-grid -->
    <div class="wthree-about-bot-grid-sec">
        <div class="agileits-about-pos">
            <h2>What we offer</h2>
        </div>
        <div class="col-md-6 col-sm-6 w3ls-abg w3ls-abg1 abg1">
            <h4>Finance</h4>
            <p>
                We offer services and solutions aimed at meeting the needs of all financial institutions across Africa.
                <button type="button" class="btn btn-success">Learn More</button>
            </p>
        </div>
        <div class="col-md-6 col-sm-6 w3ls-abg w3ls-abg2 abg4">
            <h4>Enterprise</h4>
            <p>
                We help organisations plan, build, implement, operate, support and optimize their IT Infrastructure.
                <button type="button" class="btn btn-success">Learn More</button>
            </p>
        </div>
        <div class="col-md-6  col-sm-6 w3ls-abg w3ls-abg1 abg2">
            <h4>Infrastructure</h4>
            <p>
                We design, deploy and build critical infrastructure that support our clients’ operations.<br />
                <button type="button" class="btn btn-success">Learn More</button>
            </p>
        </div>
        <div class="col-md-6 col-sm-6 w3ls-abg w3ls-abg2 abg3">
            <h4>IBTU</h4>
            <p>
                We focus on being an enabler for the current digital transformation across Africa.<br />
                <button type="button" class="btn btn-success">Learn More</button>
            </p>
        </div>

        <div class="clearfix"> </div>
    </div>
    <!-- //about-bottom-grid-->
</div>
<!-- //about -->
