@using InlaksAlumniWebsite.Models
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_InlaksAlumniLayout.cshtml";
}

@{
    var res = Session["User"] as Alumni;
}


<div class="banner inner-banner">
    <div class="header-nav">
        <!-- header-three -->
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu
                </button>-->
            </div>
            <!-- top-nav -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="index">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="event">Event</a></li>
                    <li><a href="gallery">Gallery</a></li>
                    <!--<li><a href="#" data-toggle="dropdown">Donations<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="payment.html">Payment Options</a></li>
                            <li><a href="upload.html">Upload Payment Evidence</a></li>
                        </ul>
                    </li>-->
                    <li><a href="contact">Contact Us</a></li>
                    <!--<li><a href="#" data-toggle="dropdown">Manage Account<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="profile.html">Alumni Profile</a></li>
                            <li><a href="update.html">Update Account</a></li>
                        </ul>
                    </li>-->
                </ul>
                <div class="clearfix"> </div>
            </div>
        </nav>
    </div>
</div>








<div class="w3ls-section">
    <div class="container">

        <div class="grid_3 grid_4 w3layouts">

            <div class="row">
                <div class="col-md-offset-4 col-md-4" style="box-shadow: 5px 5px 5px 10px lightgrey">
                    <h2 class="h3-w3l" style="color:#49c7ed; margin-top:15px;">Login</h2>

                    <form action="" method="post">
                        @if (ViewBag.Message != "")
                        {
                            <p style="color:#ff1a1a;">@ViewBag.Message</p>
                        }
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="email" type="text" class="form-control" name="Email" placeholder="Email">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="password" type="password" class="form-control" name="Password" placeholder="Password">
                        </div>
                        <span><input type="checkbox" /> Remember Me</span>
                        <div class="input-group">

                            <input type="submit" value="Login" name="Login" class="btn btn-primary">
                        </div>
                        <p>Don't Have an Account ?<a href="register">Create an account</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<form action="#" method="post">
    <input type="email" class="ggg" name="Email" placeholder="E-MAIL" required="">
    <input type="password" class="ggg" name="Password" placeholder="PASSWORD" required="">
    <span><input type="checkbox" />Remember Me</span>
    <h6><a href="#">Forgot Password?</a></h6>
    <div class="clearfix"></div>
    <input type="submit" value="Sign In" name="login">
</form>
<p>Don't Have an Account ?<a href="registration.html">Create an account</a></p>-->
