
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_InlaksAdminLayout.cshtml";
}

@Html.Partial("_AlumniSideAndHeaderPanel")
<div id="page-wrapper">
    <h2 class="title1"> Payment Options</h2>

    <div class="row">
        <div class="col-md-12">
            <a target="_blank" href="https://paystack.com/pay/revenue-collection">
                <img class="img-responsive" alt="Paystack secured badge" src="~/Content/images/paystack-badge-cards-ngn.png" width="300">
            </a>
        </div>
    </div>

</div>

