
@{
    ViewBag.Title = "UploadEvidence";
    Layout = "~/Views/Shared/_InlaksAdminLayout.cshtml";
}

@Html.Partial("_AlumniSideAndHeaderPanel")

<div id="page-wrapper">
    <h2 class="title1">Upload Payment Evidence</h2>

    <form action="" method="post">
        <input name="__RequestVerificationToken" type="hidden" value="X-HhrZddGhCAx3JUatTxdMwn5AwnvbDOyXC-Gh8XTMcp0ndRIse0BF_vGFmHyZ4DehGcOlz-DA_LV3ucLJdOrcZkYGFM8qQgQ0hforP0ESA1" />        <div class="form-horizontal">

            <hr />

            <div class="form-group">
                <label class="control-label col-md-2" for="DonationTitle">Donation Title</label>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" data-val="true" data-val-required="This field is required!" id="DonationTitle" name="DonationTitle" type="text" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="DonationTitle" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="Amount">Amount</label>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" data-val="true" data-val-number="The field Amount must be a number." data-val-range="The field Amount must be between 1 and 100000." data-val-range-max="100000" data-val-range-min="1" data-val-required="The Amount field is required." id="Amount" name="Amount" type="text" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Amount" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="DonationType">Donation Type</label>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" data-val="true" data-val-required="This field is required!" id="DonationType" name="DonationType" type="text" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="DonationType" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="Email">Email</label>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" id="Email" name="Email" type="text" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
            </div>
        </div>
    </form>


</div>

