USE [master]
GO
/****** Object:  Database [InlaksAlumni]    Script Date: 9/11/2020 12:04:52 AM ******/
CREATE DATABASE [InlaksAlumni]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InlaksAlumni', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\InlaksAlumni.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InlaksAlumni_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\InlaksAlumni_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InlaksAlumni].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InlaksAlumni]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 9/11/2020 12:04:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 9/11/2020 12:04:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[AdminId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](max) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[ConfirmPassword] [nvarchar](max) NULL,
	[Gender] [nvarchar](max) NOT NULL,
	[DateRegistered] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Admins] PRIMARY KEY CLUSTERED 
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Alumni]    Script Date: 9/11/2020 12:04:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alumni](
	[AlumniId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[PastEmployeeId] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NOT NULL,
	[DateOfEmployment] [nvarchar](max) NULL,
	[PositionHeld] [nvarchar](max) NOT NULL,
	[DateLeft] [nvarchar](max) NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[ConfirmPassword] [nvarchar](max) NULL,
	[Gender] [nvarchar](max) NOT NULL,
	[DateRegistered] [datetime] NOT NULL,
	[Status] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Alumni] PRIMARY KEY CLUSTERED 
(
	[AlumniId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Donations]    Script Date: 9/11/2020 12:04:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Donations](
	[DonationId] [int] IDENTITY(1,1) NOT NULL,
	[DonationTitle] [nvarchar](max) NOT NULL,
	[Amount] [real] NOT NULL,
	[DonationType] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[AlumniId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Donations] PRIMARY KEY CLUSTERED 
(
	[DonationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventImages]    Script Date: 9/11/2020 12:04:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventImages](
	[ImageId] [int] IDENTITY(1,1) NOT NULL,
	[ImagesUrl] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[EventId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.EventImages] PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 9/11/2020 12:04:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[EventId] [int] IDENTITY(1,1) NOT NULL,
	[EventTitle] [nvarchar](max) NOT NULL,
	[EventLocation] [nvarchar](max) NOT NULL,
	[EventDate] [nvarchar](max) NULL,
	[EventTime] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NOT NULL,
	[DateRegistered] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Events] PRIMARY KEY CLUSTERED 
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedbacks]    Script Date: 9/11/2020 12:04:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](max) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[DateSent] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Feedbacks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([AdminId], [FirstName], [LastName], [Email], [PhoneNumber], [Username], [Password], [ConfirmPassword], [Gender], [DateRegistered]) VALUES (1, N'Emmanuel', N'Ogiogio', N'emmanuel.ogiogio@gmail.com', N'09071663584', N'emmanuel', N'emma123', N'emma123', N'male', CAST(N'2020-09-09T13:01:43.977' AS DateTime))
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[Alumni] ON 

INSERT [dbo].[Alumni] ([AlumniId], [FirstName], [LastName], [Email], [PastEmployeeId], [PhoneNumber], [DateOfEmployment], [PositionHeld], [DateLeft], [Username], [Password], [ConfirmPassword], [Gender], [DateRegistered], [Status]) VALUES (1, N'Emmanuel', N'Ogiogio', N'emmanuel.ogiogio@gmail.com', N'123', N'09071663584', N'2018-05-08', N'Junior Software Developer', N'2020-09-02', N'Teflon', N'1234', N'1234', N'male', CAST(N'2020-09-09T13:12:48.273' AS DateTime), N'APPROVED')
INSERT [dbo].[Alumni] ([AlumniId], [FirstName], [LastName], [Email], [PastEmployeeId], [PhoneNumber], [DateOfEmployment], [PositionHeld], [DateLeft], [Username], [Password], [ConfirmPassword], [Gender], [DateRegistered], [Status]) VALUES (2, N'Chukwudi', N'Eze', N'eze@gmail.com', N'234', N'08023489641', N'2019-07-08', N'Tester', N'2020-04-14', N'chuks', N'chuks123', N'chuks123', N'male', CAST(N'2020-09-09T13:14:47.157' AS DateTime), N'PENDING')
INSERT [dbo].[Alumni] ([AlumniId], [FirstName], [LastName], [Email], [PastEmployeeId], [PhoneNumber], [DateOfEmployment], [PositionHeld], [DateLeft], [Username], [Password], [ConfirmPassword], [Gender], [DateRegistered], [Status]) VALUES (3, N'Tunde', N'Abiodun', N'tunde@yahoo.com', N'987', N'09071663584', N'2019-08-06', N'Senior Engineer', N'2020-03-04', N'Tunde', N'tunde12', N'tunde12', N'male', CAST(N'2020-09-09T13:19:17.217' AS DateTime), N'PENDING')
SET IDENTITY_INSERT [dbo].[Alumni] OFF
GO
SET IDENTITY_INSERT [dbo].[EventImages] ON 

INSERT [dbo].[EventImages] ([ImageId], [ImagesUrl], [Name], [EventId]) VALUES (1, N'INLAKS-1.jpg', N'Smart City Initiative', 1)
INSERT [dbo].[EventImages] ([ImageId], [ImagesUrl], [Name], [EventId]) VALUES (2, N'INLAKS-2.jpg', N'Smart City Initiative', 1)
SET IDENTITY_INSERT [dbo].[EventImages] OFF
GO
SET IDENTITY_INSERT [dbo].[Events] ON 

INSERT [dbo].[Events] ([EventId], [EventTitle], [EventLocation], [EventDate], [EventTime], [Description], [DateRegistered]) VALUES (1, N'Smart City Initiative', N'Lagos', N'2020-04-06', N'09:00 am', N'To bring the world race towards becoming smart cities.', CAST(N'2020-09-09T13:15:27.080' AS DateTime))
INSERT [dbo].[Events] ([EventId], [EventTitle], [EventLocation], [EventDate], [EventTime], [Description], [DateRegistered]) VALUES (2, N'Digital Transformation', N'Abuja', N'2020-07-16', N'10:00 am', N'Is digital transformation just a buzz phrase?', CAST(N'2020-09-09T13:15:49.410' AS DateTime))
SET IDENTITY_INSERT [dbo].[Events] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedbacks] ON 

INSERT [dbo].[Feedbacks] ([Id], [Name], [Email], [PhoneNumber], [Message], [DateSent]) VALUES (1, N'Emmanuel Ogiogio', N'emmanuel.ogiogio@gmail.com', N'09071663584', N'This is a test message', CAST(N'2020-09-09T12:57:33.647' AS DateTime))
INSERT [dbo].[Feedbacks] ([Id], [Name], [Email], [PhoneNumber], [Message], [DateSent]) VALUES (2, N'Dominic Ebingonye Okechukwu', N'domebingonye@gmail.com', N'08023489652', N'Dear Admin,

I''m having problems login in. Please, i would appreciate a quick fix.

Thanks.
Best regards.', CAST(N'2020-09-09T14:53:05.447' AS DateTime))
SET IDENTITY_INSERT [dbo].[Feedbacks] OFF
GO
/****** Object:  Index [IX_AlumniId]    Script Date: 9/11/2020 12:04:54 AM ******/
CREATE NONCLUSTERED INDEX [IX_AlumniId] ON [dbo].[Donations]
(
	[AlumniId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EventId]    Script Date: 9/11/2020 12:04:54 AM ******/
CREATE NONCLUSTERED INDEX [IX_EventId] ON [dbo].[EventImages]
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Donations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Donations_dbo.Alumni_AlumniId] FOREIGN KEY([AlumniId])
REFERENCES [dbo].[Alumni] ([AlumniId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Donations] CHECK CONSTRAINT [FK_dbo.Donations_dbo.Alumni_AlumniId]
GO
ALTER TABLE [dbo].[EventImages]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EventImages_dbo.Events_EventId] FOREIGN KEY([EventId])
REFERENCES [dbo].[Events] ([EventId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EventImages] CHECK CONSTRAINT [FK_dbo.EventImages_dbo.Events_EventId]
GO
USE [master]
GO
